<% if comp %>
<div class="v-tooltip mdl-tooltip mdl-tooltip--<%=comp.position%>" for="<%=parent_id%>" <%= partial 'components/shared/test_id', locals: {comp: comp} %>>
  <%=expand_text(comp.text.text)%>
</div>
<% end %>
