@import "@material/layout-grid/mixins";

*, *:before, *:after {
    box-sizing: border-box;
}

.v-actionable {
    cursor: pointer;
}

.v-error-message {
    color: $v-theme-error-message;
    background: lighten($v-theme-error-message, 50%);
    padding: var(--v-padding2);
    border: 1px solid $v-theme-error-message;
    font-weight: 600;
    border-radius: 4px;
    margin-bottom: 5px;
    word-wrap: break-word;
    scroll-margin: 1em;
}

.v-hidden {
    display: none !important;
}

@include mdc-layout-grid-media-query_(phone) {
    .v-hidden--phone {
        display: none !important;
    }
}

@include mdc-layout-grid-media-query_(tablet) {
    .v-hidden--tablet {
        display: none !important;
    }
}

@include mdc-layout-grid-media-query_(desktop) {
    .v-hidden--desktop {
        display: none !important;
    }
}

div.mdc-text-field-helper-text.mdc-text-field-helper-text--persistent.v-hidden {
    display: none;
    visibility: hidden;
}

button.v-button.mdc-dialog__button.v-hidden {
    width: 0 !important;
    min-width: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
}

.v-nowrap {
    white-space: nowrap;
}

.incompatible-browser .compatibility-wrapper * {
    display: none;
}

// Workaround for https://github.com/material-components/material-components-web/issues/4629:
:not(.mdc-list--non-interactive) > :not(.mdc-list-item--disabled).mdc-list-item:hover::before {
    filter: opacity(100%);
}

.v-align-left {
    text-align: left;
}

.v-align-center {
    text-align: center;
}

.v-align-right {
    text-align: right;
}
