@import "@material/layout-grid/mdc-layout-grid";

.v-column-hide-overflow {
  overflow: hidden;
}

.v-column--relative {
  position: relative;
}

// Used to support side to side scrolling for wide grid elements.
// Grids that contain a wide table use this.
.v-grid__wide {
  overflow-y: hidden;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;

  &::-webkit-scrollbar {
    display: none;
  }
}

.v-grid-column-align-right {
  margin-right: 0;
  margin-left: auto;
}

@each $size in map-keys($mdc-layout-grid-columns) {
  @include mdc-layout-grid-media-query_($size) {
    div.v-gutter-none {
      grid-gap: 0;
      gap: 0;
    }
  }
}
