@import "@material/menu-surface/mdc-menu-surface";
@import "@material/menu/mdc-menu";

.mdc-menu-anchor {
  display: inline;
}

.mdc-list-item.mdc-list-item--disabled .v-menu-link {
  cursor: inherit;
  pointer-events: none;
}

.v-menu-link {
  &:hover, &:visited, &:link, &:active {
    color: inherit;
    text-decoration: none;
    font-weight: 400;
  }
}

.mdl-navigation__link {
  i {
    font-size: $mdc-headline6-font-size;
  }
  .v-icon__fa {
    font-size: $mdc-headline6-font-size;
  }
}

.mdc-menu-surface {
  // MDC specifies a Z index of 8 for menus and 14 for dialogs,
  // which by default makes menus unusuable within dialogs.
  z-index: 15 !important; // `!important` because of the theme plugin aksdjhfkajsdhfkajsd
}
