@import "@material/textfield/mdc-text-field";
@import "@material/notched-outline/mdc-notched-outline";

.mdc-text-field {
  margin-top:16px;
  margin-bottom: 8px;
}

.mdc-text-field--textarea:not(.mdc-text-field--disabled) {
  border-color: $v-input-border-color;
  &:hover {
    border-color: $v-input-hover-border-color;
  }
}

.mdc-text-field-helper-text--validation-msg {
  color: #d50000 !important;
  font-weight: bold !important;
}

.mdc-text-field--textarea > textarea {
  /*
    this is approximately one line.
    font-size is 1rem; line-height 1.75rem + 16px padding + 2px border (1px top, 1px bottom)
  */
  min-height: calc(1.75rem + 16px + 2px);
}
